{
  "models": [
    {
      "$type": "SceneModel, Assembly-CSharp",
      "rotation": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "w": 0.0,
        "eulerAngles": {
          "x": 0.0,
          "y": 0.0,
          "z": 0.0,
          "magnitude": 0.0,
          "sqrMagnitude": 0.0
        },
        "normalized": {
          "x": 0.0,
          "y": 0.0,
          "z": 0.0,
          "w": 1.0,
          "eulerAngles": {
            "x": 0.0,
            "y": 0.0,
            "z": 0.0,
            "magnitude": 0.0,
            "sqrMagnitude": 0.0
          }
        }
      },
      "isVisible": true,
      "resourcePath": "file:///F:/KSJ/360AuthoringTool/Build/StreamingAssets/360/Images/360CenterShot.jpeg",
      "worldPosition": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "localScale": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "parentId": 0,
      "name": "Scene 1",
      "id": -502881280
    },
    {
      "$type": "QuestionModel, Assembly-CSharp",
      "prefix": "A",
      "question": "Question Text",
      "choices": [
        {
          "choice": "Choice 1",
          "isCorrect": false,
          "actionsContainer": {
            "items": []
          }
        },
        {
          "choice": "Choice 2",
          "isCorrect": false,
          "actionsContainer": {
            "items": []
          }
        },
        {
          "choice": "Choice 3",
          "isCorrect": false,
          "actionsContainer": {
            "items": []
          }
        }
      ],
      "isVisible": true,
      "worldPosition": {
        "x": -50.06137,
        "y": -18.384119,
        "z": 84.59245,
        "normalized": {
          "x": -0.5006137,
          "y": -0.183841184,
          "z": 0.845924556,
          "magnitude": 1.0,
          "sqrMagnitude": 1.0
        },
        "magnitude": 100.0,
        "sqrMagnitude": 10000.0
      },
      "localScale": {
        "x": 0.05,
        "y": 0.05,
        "z": 0.05,
        "normalized": {
          "x": 0.577350259,
          "y": 0.577350259,
          "z": 0.577350259,
          "magnitude": 1.0,
          "sqrMagnitude": 0.99999994
        },
        "magnitude": 0.08660254,
        "sqrMagnitude": 0.0075000003
      },
      "parentId": -502881280,
      "name": "Question Card 1",
      "id": 1235926016,
      "groupType": 1
    },
    {
      "$type": "SceneModel, Assembly-CSharp",
      "rotation": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "w": 0.0,
        "eulerAngles": {
          "x": 0.0,
          "y": 0.0,
          "z": 0.0,
          "magnitude": 0.0,
          "sqrMagnitude": 0.0
        },
        "normalized": {
          "x": 0.0,
          "y": 0.0,
          "z": 0.0,
          "w": 1.0,
          "eulerAngles": {
            "x": 0.0,
            "y": 0.0,
            "z": 0.0,
            "magnitude": 0.0,
            "sqrMagnitude": 0.0
          }
        }
      },
      "isVisible": true,
      "resourcePath": "file:///F:/KSJ/360AuthoringTool/Build/StreamingAssets/360/Images/360StorageShot.jpeg",
      "worldPosition": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "localScale": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0,
        "magnitude": 0.0,
        "sqrMagnitude": 0.0
      },
      "parentId": 0,
      "name": "Scene 2",
      "id": -2086948864
    }
  ]
}